body{
background : #e2e2e2 !important;
}

.bg-primary{
background: #009688 !important;
}
.mynav{
position:sticky;
top:0;
z-index:2;
width:100%;
}

.nca{
text-align:center;
color:red;
}

.search-container{
	position: relative;
}
.search-result{
	position: absolute;
	background: white;
	border: 1px solid gray;
	width:100%;
	padding: 10px;
	display: none;
}
.active{
background: #009688 !important;
color:white !important;
}